# OpenAI
OPENAI_API_KEY=

# Supabase
SUPABASE_PROJECT_ID=
SUPABASE_URL=
SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Analytics
POSTHOG_API_KEY=

# Release links
EXPO_PUBLIC_PRIVACY_POLICY_URL=
